
.group-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
    margin-top: 2rem;
  }
  
  .profile-name {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    margin-left: 2rem;
    background-color: #000000;
    text-align: center;
  }
  
  .circle-impermanence {
    width: 2rem;
    height: 2rem;
    align-self: left;
    margin-left: 2rem;
  }
  
  .carteira {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    color: #766404;
    font-size: 0.875rem;
    align-items: center;
    font-weight: bold;
    align-self: left;
    margin-left: 2rem;
    margin-top: 2rem;
  }
  
  .atributos-player {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #000000;
    margin-top: 2rem;
    margin-left: 2rem;
  }