/* Center monster img */

.monster-box img {
  display: block;
  margin: 0 auto;
  border-radius: 1rem;
  width: 90%;
  height: auto;
}

.monster-box::after {
    filter: blur(10px);
}

.monster-box h1 {
    text-align: center;
    font-size: 1.5rem;
    color: var(--output-color);
}