/* Sidebar.css */
.sidebar {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: #000000;
  }
  
  .sidebar-section {
    margin-top: 10%;
    margin-left: 7%;
    color: #ffffff;
    font-size: 0.875rem;
    font-weight: bold;
  }
  
  .sidebar-section:first-of-type {
    margin-top: 1.75rem;
  }
  
  /* Media Queries para Responsividade */
  @media (max-width: 1024px) {
    .sidebar {
      width: 30%;
    }
  
    .sidebar-section {
      margin-top: 8%;
      margin-left: 5%;
    }
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 35%;
    }
  
    .sidebar-section {
      margin-top: 6%;
      margin-left: 4%;
    }
  }
  
  @media (max-width: 480px) {
    .sidebar {
      width: 40%;
    }
  
    .sidebar-section {
      margin-top: 4%;
      margin-left: 3%;
    }
  }