/* Estilos gerais */
.tela-inicial {
  background-image: url("../../assets/images/ed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 2rem;
  box-sizing: border-box;
}

.container-inicial {
  background: black;
  border-radius: 3.4375rem; /* 55px */
  opacity: 85%;
  width: 100%;
  max-width: 90rem; /* 1440px */
  padding: 1.25rem; /* 20px */
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yin-yang-inicial {
  width: 18.75rem; /* 30rem */
  height: 18.75rem; /* 30rem */
  margin-bottom: 1.25rem; /* 20px */
}

.error-message {
  color: red;
  margin-bottom: 1rem;
}

.text-link {
  color: #ffffff;
  font-family: "Outfit", Helvetica;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0.625rem 0; /* 10px */
  cursor: pointer;
  text-align: center;
}

.arrow-circle-right {
  width: 3.125rem; /* 50px */
  height: 3.125rem; /* 50px */
  margin-top: 1.25rem; /* 20px */
  cursor: pointer;
  transition: transform 0.2s;
}

.arrow-circle-right:hover {
  transform: scale(1.1);
}

/* Media queries para responsividade */
@media (max-width: 768px) {
  .tela-inicial {
    padding: 1rem;
  }

  .container-inicial {
    padding: 1rem;
  }

  .yin-yang-inicial {
    width: 12.5rem; /* 20rem */
    height: 12.5rem; /* 20rem */
  }

  .arrow-circle-right {
    width: 2rem;
    height: 2rem;
  }
}