/* MainContent.css */
.main-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  height: 90%;
  align-items: center;
  justify-items: center;
}

.header-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
}

.main-header {
  display: flex;
  flex-direction: row;
  padding: 5%;
  background-color: #a1a1aa; 
  align-items: center;
  justify-content: center;
  height: 0.01%; 
}

.main-section-content {
  margin-top: 2rem;
  background-color: #d4d4d8;
  height: 40rem; 
  border-radius: 3rem; 
  width: 80%;
  align-self: center;
}

.logs-section {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  margin-top: 1rem; 
  font-size: 0.875rem;
  font-weight: bold;
  color: #ffffff;
  background-color: #0F0E25; 
  border-radius: 1rem; 
  align-items: center;
  height: 40%;
  margin-bottom: 1rem;
}

.logs-header {
  align-self: center;
}

.logs-content {
  display: flex;
  margin-top: 1.5rem; 
  background-color: #000000;
  height: 18rem; 
  width: 80%;
  border-radius: 1rem; 
  margin-bottom: 2rem;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
  .main-header {
      font-size: 1.75rem;
      padding: 2.5%;
  }

  .main-section {
      margin: 1.5rem 1rem 0;
      padding: 1rem 1rem;
      border-radius: 2rem;
  }

  .main-section-content {
      height: 20rem;
      border-radius: 1rem;
  }

  .logs-section {
      width: 100%;
      padding: 1rem 2rem 1.5rem;
  }

  .logs-content {
      height: 12.5rem;
      margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .main-header {
      font-size: 1.5rem;
      padding: 2%;
  }

  .main-section {
      margin: 1rem 0.5rem 0;
      padding: 0.75rem 0.5rem;
      border-radius: 1.5rem;
  }

  .main-section-content {
      height: 15rem;
      border-radius: 0.75rem;
  }

  .logs-section {
      padding: 0.5rem 1rem 1rem;
  }

  .logs-content {
      height: 10rem;
      margin-top: 0.75rem;
  }
}
